@import "../styles/variables.scss";

#about {
    min-height: 50vh;
    position: relative;
}

.about-title {
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 7rem;
    font-family: $secondary-font;
    color: $black-text;
}

.about-flex > * {
    flex: 1 1 50%;
}

.about-flex {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10rem;
    align-items: center;
   
        

    &__left > p {
        font-size: 2.4rem;
        padding: 0 10%;
        color: $black-text;
        max-width: 68ch;
    }

    &__right-img {
        width: 90%;
    }
}

///***Media query for screen size large or bigger
@media all and (min-width: $lrg-screen) {
    
    .about-wrapper {
        margin: 0 10%;
    }

    .about-flex {
        &__left > p {
            font-size: 2.5rem;
            padding: 0;
            padding-right: 10%;
        }
    }
}

//**Media query for screens up to medium size
@media all and (max-width: $md-screen) {
  
    .about-flex {
        display: inline-block;

        &__left > p {
            font-size: 2.5rem;
            color: $accent-color-primary;
        }
        &__right-img {
           display: none;
        }
    }
}

// ****Mobile screen query
@media all and (max-width: $sm-screen) {

    .about-title {
        font-size: 5.5rem;
    }

    .about-flex__left > p {
        padding: 0 8%;
        font-size: 2.3rem;
    }
}

