@import "../styles/variables.scss";

#about {
    background-color: $gray-bg;
    height: auto;
    min-height: 50vh;
    position: relative;
}

.about-title {
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 7rem;
    font-family: $secondary-font;
    color: $black-text;
}

.about-flex {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10rem;
    font-size: 2.5rem;
        

    &__left > p {
        font-size: 2.5rem;
        padding: 0 10rem;
        color: $black-text;
        max-width: 66ch;
    }

    &__right-img {
        height: auto;
        width: 68rem;
        margin-top: 3rem;
        align-content: flex-end;
        padding-right: 2rem;
    }
}

p {
    margin-bottom: 2rem;
}

.about-flex > * {
    flex: 1 1 50%;
}

///***Media query for screen size large or bigger
@media all and (min-width: $lrg-screen) {
    
    .about-wrapper {
        margin: 0 10%;
    }

    .about-flex {
        
        &__left > p {
            font-size: 2.8rem;
        }
    }
}


//***Media query for screen sizes medium to large
@media all and (min-width: $md-screen) and (max-width: $lrg-screen) {

    .about-flex {
        &__left > p {
            font-size: 2.2rem;
        }
        &__right-img {
            width: 55rem;
            height: auto;
            margin-top: 1rem;
        }
    }
}

//**Media query for screens up to medium size
@media all and (max-width: $md-screen) {
    .about-title {
        font-size: 5rem;
        padding-bottom: 2rem;
    }
    .about-flex {
        display: inline-block;
        margin: 0 auto;

        &__left > p {
            font-size: 2.5rem;
            color: $accent-color-primary;
        }
        &__right-img {
           display: none;
        }
    }
}

@media all and (max-width: $sm-screen) {

    .about-flex__left > p {
        padding: 0 8%;
        font-size: 2.3rem;
    }
}

