@import "../styles/variables.scss";

#contact {
    height: auto;
    background-color: $gray-bg;
    padding-bottom: 10rem;
}

.contact {

    &__title {
       font-size: 7rem;
       text-align: center; 
       padding-top: 5rem;
       font-family: $secondary-font;
       color: $black-text;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 5rem;

        &-container {
            background-color: $white-bg;
            height: 70vh;
            max-height: 60rem;
            width: 65vw;
            max-width: 130rem;
            margin: 0 auto;
            border-radius: 10px;
            box-shadow: 0 0 22px rgb(0 0 0 / 60%)
        }

        &-group {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 4rem auto;
            position: relative;
        }

        &-label {
            position: absolute;
            bottom: 1rem;
            font-size: 2.4rem;
            transition: all .5s ease-in-out;
            color: $black-text;
        }

        &-input, &-textarea {
            border: none;
            border-bottom: 2px solid #222;
            outline: none;
            font-size: 2rem;
            background-color: $white-bg;

            &[type=textarea] {
                font-size: 1.7rem;
            }

            //Floating label for name & email inputs css
            &:focus ~ label,
            &:valid ~ label,
            &:not(:placeholder-shown) ~ label {
                bottom: 4rem;
                font-size: 1.7rem;
                transition: all .5s ease-in-out;
            }
            
            //Floating label for textarea css
            &:focus ~ label[for=message],
            &:valid ~ label[for=message] {
                bottom: 8rem;
            }

            //If input is valid border will be teal color
            &:valid {
                border-color:  $accent-color-primary;
            }

            //If input not valid border red
            &:focus:not(:valid) {
                border-color: red;
            }
        }
        &-submit {
            width: 15rem;
            height: 5.5rem;
            margin: 3rem auto;
            font-size: 2.5rem;
            font-weight: bold;
            color: $black-text;
            border: none;
            border: 2px solid $accent-color-light;
            border-radius: 10px;
            position: relative;
            z-index: 1;
            overflow: hidden;
            
            //CSS for button hover effect
            &::after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: $white-bg;
                z-index: -2;
                overflow: hidden;
            }

            &::before {
                content: '';
                background-color: $accent-color-light;
                width: 0%;
                height: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                transition: all .8s;
            }

            &:hover {
                &::before {
                    width: 100%;
                    transition: all .8s;
                }
            }
        }
    }
}
//**Media query for screen size medium or smaller
@media all and (max-width: $md-screen) {

    .contact__form {

        &-container {
            width: 85%;
        }
        &-group {
            width: 60%;
        }
    }
}

@media all and (max-width: $md-screen) {

    .contact__form {

        &-container {
        width: 95%;
        height: auto;
        }

        &-group {
            width: 80%;
        }
    }
}