
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Notes */
/*** (overflow-x: hidden) was used to hide white space on right side of chrome dev tools mobile preview. Specifically iphone displays */

body, html {
    min-height: 100%;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    background-color: #fafafa;
    overflow-x: hidden;
}

