@import "../styles/variables.scss";


#home {
    height: 100vh;
    margin-bottom: 5rem;
}

.home-wrapper {
    min-height: 100%;
    position: relative;
}
.home-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: center;
}

.home-flex > * {
    flex: 1 1 50%;
}

.home-header-primary {
    font-size: 6rem;
    margin-left: 15rem;
    color: $accent-color-primary;
}

.home-header-sub {
    font-size: 6rem;
    line-height: 1rem;
    margin-left: 15rem;
    color: $black-text;
    
}

.home-icons {
    font-size: 4.5rem;
    padding-right: 1rem;
    color: $black-text;
    cursor: pointer;

    &__container {
        margin-top: 7rem;
        margin-left: 15rem;
    }
    
}

@media all and (min-width: $lrg-screen) {
    
    #home {
        margin: 0 10%;
    }

    .home-flex {
        margin-top: 10%;
    }

    .home-header {

        &-primary {
            font-size: 7rem;
        }

        &-sub {
            font-size: 7rem;
        }
    }

    .home-icons {
        font-size: 5.5rem;
        padding-right: 2rem;
    }
}