@import "../styles/variables.scss";


#home {
    height: 100vh;
    margin-bottom: 5rem;
}

.home-wrapper {
    min-height: 100%;
    position: relative;
}
.home-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-left: 15rem;
}

.home-flex > * {
    flex: 1 1 50%;
}

.home-header-primary {
    font-size: 6rem;
    color: $accent-color-primary;
}

.home-header-sub {
    font-size: 6rem;
    line-height: 1rem;
    color: $black-text;
}

.home-icons {
    font-size: 4.5rem;
    padding-right: 1rem;
    color: $black-text;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: $accent-color-primary;
    }

    &__container {
        margin-top: 7rem;
    }
    
}

///***Large Screen CSS *****
@media all and (min-width: $lrg-screen) {
    
    #home {
        margin: 0 13%;
    }

    .home-flex {
        margin-top: 10%;
        margin-left: 0;
    }

    .home-header {
        &-primary, &-sub {
            font-size: 7rem;
        }
    }

    .home-icons {
        font-size: 5.5rem;
        padding-right: 2rem;
    }
}
//**Medium screen CSS
@media all and (max-width: $md-screen) {

    .home-flex {
        margin-left: 7rem;
    }

    .home-header {
        &-primary, &-sub {
            font-size: 5rem; 
            line-height: 3.5rem;
        }
    }

    .home-icons__container {
        margin-top: 3.5rem;
    }
}

// ****Screen sizes between medium and small
    @media all and (min-width: $sm-screen) and (max-width: 725px){
        .home-header-sub {
            line-height: 5rem;
        }
    }

//****Mobile Screens

@media all and (max-width: $sm-screen) {

    .home-flex {
        margin-left: 2.5rem;
        margin-top: 25%;
    }

    .home-header-sub, .home-header-primary {
        line-height: 1;
        margin: 1.5rem 0;
        font-size: 4.3rem;
    }

    .home-icons__container {
        margin-top: 2rem;
    }

}