@import "../styles/variables.scss";


#home {
    height: 100vh;
    margin-bottom: 5rem;
    width: auto;
}

.home-wrapper {
    min-height: 100%;
    position: relative;
}
.home-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: center;
}

.home-flex > * {
    flex: 1 1 50%;
}

.home-header-primary {
    font-size: 6rem;
    margin-left: 15rem;
    color: $accent-color-primary;
}

.home-header-sub {
    font-size: 6rem;
    line-height: 1rem;
    margin-left: 15rem;
    color: $black-text;
}

.home-icons {
    font-size: 4.5rem;
    padding-right: 1rem;
    color: $black-text;
    cursor: pointer;
    text-decoration: none;

    &__container {
        margin-top: 7rem;
        margin-left: 15rem;
    }
    
}

///***Large Screen CSS *****
@media all and (min-width: $lrg-screen) {
    
    #home {
        margin: 0 10%;
    }

    .home-flex {
        margin-top: 10%;
    }

    .home-header {
        &-primary, &-sub {
            font-size: 7rem;
        }
    }

    .home-icons {
        font-size: 5.5rem;
        padding-right: 2rem;
    }
}
//**Medium screen CSS
@media all and (max-width: $md-screen) {

    .home-header {
        &-primary, &-sub {
            margin-left: 7rem;
            font-size: 5rem;
        }
    }

    .home-icons__container {
        margin-left: 7rem;
    }
}

//****Mobile Screens

@media all and (max-width: $sm-screen) {

    .home-header-primary {
        padding-top: 20%;
    }


    .home-header-sub, .home-header-primary {
        line-height: 1;
        margin: 1.5rem 0 1rem 2.5rem;
        font-size: 4.5rem;
    }

    .home-icons__container {
        margin-top: 2rem;
        margin-left: 2.5rem;
    }

}