
@import "../styles/variables.scss";

nav {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    margin: 2.5rem 4rem;
}


.nav__link {
    font-size: 2.5rem;
    padding-right: 2.2rem;
    text-decoration: none;
    color: $black-text;
    cursor: pointer;

        &:hover, &:focus     {
            font-weight: bold;
            color: $accent-color-primary;
        }

      &-btn {
          border: none;
          background-color: transparent;
          height: 0;
      }  
    }


   @media all and (min-width: $lrg-screen)  {
       .nav__link {
           font-size: 3rem;
           padding-right: 2.4rem;
       }
   }

   @media all and (max-width: $md-screen) {
       .nav__link {
           font-size: 2.3rem;
           padding-right: 2rem;
       }
   }

   @media all and (max-width: $sm-screen) {

    nav {
        width: 100%;
        margin: 2.5rem 2.5rem 2.5rem 0;
    }
       .nav__link {
           font-size: 2rem;
           padding-right: 1rem;

           &:first-child {
               display: none;
           }
       }
   }
