
@import "../styles/variables.scss";

nav {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    margin: 2.5rem 4rem;
}


.nav__link {
    font-size: 2.5rem;
    padding-right: 2.2rem;
    text-decoration: none;
    color: $black-text;
    cursor: pointer;

        &:hover {
            font-weight: bold;
            color: $accent-color-primary;
        }
    }


   @media all and (min-width: $lrg-screen)  {
       .nav__link {
           font-size: 3rem;
           padding-right: 2.4rem;
       }
   }
