@import "../styles/variables.scss";

#projects {
    height: auto;
    position: relative;
    margin: 0 10%;
}

//Flex layout for page
.projects-flex-container > * {
    flex: 1 1 50%;
}

.projects-title {
    text-align: center;
    font-size: 6rem;
    font-family: $secondary-font;
    color: $black-text;
}

.projects-flex-container {
    display: flex;
    margin-bottom: 5rem;

    // ****Left side of projects display flex*****
    &__left {
        margin-left: 5rem;
        color: $black-text;


        &-title {
            font-size: 3rem;
        }

        &-subtitle {
            font-size: 1.5rem;
        }

        &-description {
            font-size: 1.7rem;
            width: 80%;
            letter-spacing: .5%;
            line-height: 130%;
        }

        &-links {
            display: flex;
            flex-direction: column;

            &-btn {
                color: $accent-color-primary;
                border: none;
                background-color: transparent;
                font-size: 2rem;
                text-align: start;
                text-decoration: none;
                padding-bottom: 1rem;
                cursor: pointer;
            }
            
        }
    }

// *****CSS for right side of projects display*****
    &__right-image {
        height: 30rem;
        width: 40rem;
        border-radius: 1rem;

        &-2 {
            height: 34rem;
            width: 40rem;
            border-radius: 1rem;
        }
    }
}