@import "../styles/variables.scss";

#projects {
    padding: 0 13%;
    background-color: $gray-bg;
}

.projects-title {
    text-align: center;
    font-size: 7rem;
    font-family: $secondary-font;
    color: $black-text;
    padding-bottom: 4rem;
}

.projects-flex-container {
    // margin: 0 auto;
    display: flex;
    padding-bottom: 5rem;
    justify-content: center;


    // ****Left side of projects display flex*****
    &__left {  

        &-title {
            color: $black-text;
            font-size: 3rem;
            margin: 0;
            font-weight: bold;
        }

        &-subtitle {
            color: $black-text;
            font-size: 1.5rem;
            font-weight: lighter;
        }

        &-description {
            color: $black-text;
            font-size: 2rem;
            width: 80%;
            max-width: 66ch;
            letter-spacing: .5%;
            line-height: 130%;
        }

        &-links {
            display: flex;
            flex-direction: column;               

            &-btn {
                color: $accent-color-primary;
                border: none;
                background-color: transparent;
                font-size: 2rem;
                font-weight: bold;
                text-decoration: none;
                padding-bottom: 1rem;
                cursor: pointer;

            }
            
        }
    }

// *****CSS for right side of projects display*****

    &__right-image {
        height: 35rem;
        width: 45rem;
        border-radius: 1rem;
    }
}

.mobile-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 57rem;
}


@media all and (min-width: $lrg-screen) {

    .projects-flex-container {

        &__left { 

            &-title {
                font-size: 4rem;
            }

            &-subtitle {
                font-size: 1.7rem;
            }

            &-description {
                font-size: 2rem;
            }

            &-links-btn {
                font-size: 2.5rem;;
            }
        }
    }
}

.mobile-img-container {
    width: 46rem;
}

@media all and (max-width: $md-screen) {

    #projects {
        margin: 0 10%;
    }

    .projects-title {
        padding-bottom: 2rem;
        font-size: 5.5rem;
    }

    .projects-flex-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 10rem;

        &__left {

            &-title,
             &-subtitle,
              &-description,
                &-links-btn {
                    text-align: center;
                    margin: 2rem auto;
                }
                
                &-links {
                    margin-bottom: 3rem;

                    &-btn {
                        margin: .5rem 0;
                    }
                }
        }

        &__right-image {
            width: 45rem;
        }
    }
}

@media all and (max-width: $sm-screen) {

    #projects {
        margin: 0;
    }

    .projects-flex-container {

        &__left {
           width: 100%;

            &-title {
                font-size: 4rem;
            }

            &-subtitle {
                font-size: 1.5rem;
            }

            &-description {
                font-size: 1.7rem;
                width: 100%;
                text-align: left;
            }

            &-links-btn {
                font-size: 2rem;
                margin: 0;
            }
        }

        &__right-image {
            width: 40rem;
            height: 34rem;
        }
    }
    .mobile-img-container {
        width: 40rem;
    }
}