@import "../styles/variables.scss";

.scroll-btn-container {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
   
}
.scroll-button {
    font-size: 10rem;
    color: $accent-color-primary;
}