

//Colors
$white-bg: #fafafa;
$gray-bg: #eeeeee;

$accent-color-primary: #0a838a;
$accent-color-light: #0a848aa2;



//Typography
$black-text: #222;
$secondary-font: 'Playfair Display SC', serif;


//Responsive screen sizes
$lrg-screen: 1750px;
$md-screen: 1200px;
$sm-screen: 500px;